:root {
    --MainColor:#1fc262;
    --SecondaryColor:#02324d;
    --ThirdColour:#dfe5da;
}

body {
    font-family: 'Raleway', 'Arial', sans-serif;
    font-size: 100%;
    background-color: var(--ThirdColour);
    }

h1 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    color:#1fc262;
    text-align: left;
    font-weight: 400;
}    

h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 1%;
    color:#1fc262;
    margin-bottom: 2%;
}    

h3 {
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
}    

h4 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1%;
    margin-bottom: 1%;
}   


.mx-1 {
    margin-left: 3rem;
}

.running img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    filter: brightness(0.75);
}

.running {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-align: center;
    font-weight: 800;
}

.running-content h1 {
    font-size: 3rem;
    margin-bottom: 100px;
}

.running-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #1FC262;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #FF6F81;
}


.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    padding: 0 20px;
}

.feature {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-basis: calc(25% - 40px);
    text-align: center;
}

.feature h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.feature p {
    font-size: 1rem;
}