

.main-img img {
    width: 100%;
    height: 40%;
    object-fit:fill;
    align-items: center;
    
}

form {
    width: 500px;
    height: 300px;
    margin-left: 20%;
    margin-top: 10px;
    
}

.post-form {
    width: 500px;
    height: 300px;
    margin-left: 2%;
    margin-top: 20px; 
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    
}

input[type="submit"] {
    width: 100%;
    background-color: #1fc262;
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
    
}

.rounded-image {
    border-radius: 15px;
    width: 500px;
    height: 400px;
  }

  
  @media (max-width: 768px) {
    #postList {
      grid-template-columns: repeat(2, 1fr);
    }
    .feature-post {
      flex-basis: calc(50% - 40px); 
    }
  }

  @media (max-width: 480px) {
    #postList {
      grid-template-columns: 1fr; 
    }
  }
  
#postList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .features-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
    padding: 0 20px;
    position: relative;
  }
  
  .feature-post {
    background-color: #f1ffef;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .user-avatar {
    width: 300px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 15px;
  }
  
  .user-info {
    margin-top: 10px;
  }
  
  
  .like-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .like-button {
    padding: 10px;
    font-size: 24px;  
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    color: #555;  
    transition: color 0.2s ease-in-out;  
  }
  
  .like-button.liked {
    color: #e0245e;  
  }
  
  .like-count {
    font-size: 18px;
  }
  
  .feature-post h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .feature-post p {
    font-size: 1rem;
  }
  
  .post-content {
    text-align: left;
  }
  
  
  .feature-post h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .feature-post p {
    font-size: 1rem;
  }
  
  .post-content {
    text-align: left;
  }
  
  .customized-plan { 
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: -1%;
    padding: 0 20px;
    position: relative;
    text-align: center;
    flex: 1;
    margin-left: -100px;
  }

  .plan-selection {
    display: flex;           
    justify-content: space-between; 
    gap: 20px;              
    padding: 10px;
  }
  
  .plan {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 100px;
    flex: 1;                
    text-align:center;
    padding: 20px;
    border: 1px solid #ccc;   
    border-radius: 100%;       
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .plan:hover {
    transform: scale(1.2);
  }

  .plan-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
    color: white;
    z-index: 1;
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    row-gap: 5px;
    margin-top: 50px;
}

.gallery-item {
    aspect-ratio: 1;
    position: relative;
}

.gallery-item img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10%;
    z-index: -1;
    transition: filter 0.3s ease;
}

.gallery-content {
    position: absolute;
    text-align:start;
    margin-left: 20px;
    margin-top: 20px;
    color: white;
    z-index: 1;
    font-weight:  bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-content {
    opacity: 1; 
}

.gallery-item:hover img {
    filter: brightness(0.5); 
}