/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #333;
}

/* Header and Footer Styling */
header, footer {
    background-color: rgb(255, 255, 255);
    color: rgb(48, 48, 48);
    text-align: right;
    padding: 10px 10px;
}

/* Navigation Bar Styling */
nav {
    background-color: #474f56;
    text-align: center;
    padding: 5px 0;
}

nav a {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    background-color: #0056b3;
}

/* Section Styling */
section {
    padding: 20px 40px;
    border-bottom: 2px solid #007BFF;
}

/* Gallery Styling */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery img {
    margin: 5px;
    width: calc(33% - 10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Styling */
form {
    max-width: 400px;
    margin: 20px auto;
    background-color: #f1f1f1;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input, textarea {
    width: 100%;
    padding: 1px;
    margin: 1px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
